.Loading-logo {
  animation: Loading-logo-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
