.Loading-logo {
  animation: Loading-logo-spin infinite 5s linear;
  height: 50px;
  pointer-events: none;
  margig-top: 20px;
  margin-bottom: 10px;
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
